body {
	font-family: 'Ubuntu', sans-serif;
	padding: 20px;
	color: #666;
	background: #f8f8f8;
}
h1 {
	margin: 40px 0 20px 0;
	color: #5092BD
}
.code, dt {
	font-family: monospace;
	color: white;
	background: #333;
	padding: 2px 5px;
}
.term {
	padding: 10px;
	margin: 5px 0;
}
.option {
	color: #6bdcff;
}
dt {
	color: #666;
	display: list-item;
	float: left;
	margin-left: 70px;
}
dd {
	margin: 0 0 10px 130px;
}
.warn {
	background: #fcffb7;
	padding: 5px;
}